@{
    ViewData["Title"] = "Productive Pomodoro";
}

<div class="text-center" style="background:red">
    <h1 class="display-4">Productive Pomodoro</h1>
    <h3 class="display-6">A pomodoro timer designed to help you with your procrastination!</h3>
    <a class="btn btn-primary" asp-controller="Pomodoro" asp-action="Notes">See Notes</a>
</div>