@{
    ViewData["Title"] = "Pomodoro Timer";
}

<h2>Set your timer</h2>
<p>Choose how much time you will spend in each section<br />
    Determine your goals for each section<br />
    You can do this!
</p>

<div>
    <h4>Focus time</h4>
    <div>
        <input type="number" />
        <input type="number" />
    </div>
</div>

<div>
    <h4>Break time</h4>
    <div>
        <input type="number" />
        <input type="number" />
    </div>
</div>

<div>
    <h4>Long break</h4>
    <div>
        <input type="number" />
        <input type="number" />
    </div>
</div>

